# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [15]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources/hawaii_measurements.csv")
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [16]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [17]:
# Set the date column as the DataFrame index
df = df.set_index(df["date"], drop=True)
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [19]:
# Drop the date column
df = df[["station", "prcp", "tobs"]]
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [48]:
from scipy import stats

In [50]:
# Filter data for desired months
june_df = df[df.index.month == 6]
june_df.head()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [51]:
dec_df = df[df.index.month == 12]
dec_df.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [43]:
# Identify the average temperature for June
june_avg_temp = june_df["tobs"].mean()
june_avg_temp

74.94411764705882

In [44]:
# Identify the average temperature for December
dec_avg_temp = dec_df["tobs"].mean()
dec_avg_temp

71.04152933421226

In [ ]:
# Create collections of temperature data

In [49]:
# Run paired t-test
stats.ttest_ind(june_df["tobs"], dec_df["tobs"])

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

An independent t test is used because the weather in Decemember is not necessarily based on the weather in June, i.e. they are not linked together, per se.

### Analysis